extends layout

block content
	.content.about.page.row
		span.connector 
		.row-inner
			.section.info-panel
				.block.question
					h2.sub-header About Beanbank
					p Beanbank is a project by artist Mafj Alvarez. It's a database of 'playful little data' which asks people 'What's important to you?' in a simple and fun way. This website is part of a larger project called Rootbeans which is a game and an exploration into how we can question collaborative efforts in light of an ever more individualistic world.
						
					.beanbag-user-actions
						.add-beanbag
							a.button.add-bean(href='newbeanbag', title='Spill the beans - add words to the beans to answer the question "Whats important to you?" ') Spill the beans
			section.beanbag-holder
				.beanbag-placeholder