extends layout

block content
    h2.
        Bean List
    h3. Scifest Brighton University 2014
    dl
        each bean, i in beanlist
            dt
                =bean.beanbag
            dd
                =bean.value
            
    a(href='newbean') Add New Bean 
                
                