extends layout

block content
	.content.home.page.row
		span.connector 
		.row-inner
			.section.info-panel
				.block.question
					h2.sub-header Spill the beans
					p.question-description
						|Beanbank is a simple game where you can put answers to questions into data beans. The more people put the same data beans into the beanbank the more they grow in value. Beanbank stores and tracks beans that can be played in the game 
						a(href='http://www.rootbeans.com') Rootbeans 
						
					.beanbag-user-actions
						.add-beanbag
							a.button.add-bean(href='beanbaglist', title='View bags created by other people') Open Beanbags
							a.button.add-bean(href='newbeanbag', title='Create a small data set by naming beans in a beanbag') Create Beanbag
			section.beanbag-holder
				.beanbag-placeholder