extends layout

block content
	.content.home.page.row
		span.connector 
		.row-inner
			.section.info-panel
				.block.question
					span.leadin Here's a simple game...
					h2.sub-header What's important to you?
					p.intro Rootbeans would like to invite you to share your answer with us. It's easy:
					ul.question-description
						li <span>1 </span>Add your 10 'beans'
						li <span>2 </span>Spill the beans & score
						li <span>3 </span>See everyones results!
						
					.beanbag-user-actions
						.add-beanbag
							a.button.add-bean(href='newbeanbag', title='Spill the beans - add words to the beans to answer the question "Whats important to you?" ') Add your beans
			section.beanbag-holder
				.beanbag-placeholder