extends layout

block content
	.content.home.page.row
		span.connector 
		.row-inner
			.section.info-panel
				.block.question
					span.leadin Here's a simple question...
					h2.sub-header What's important to you?
					p.intro Rootbeans would like to invite you to share your answer with us. It's easy:
					ul.question-description
						li <span>1 </span>Simply add 10 words, or "beans", as an answer to the question about what's important to you
						li <span>2 </span>Your beans are then given points based on what other people say is important to them
						li <span>3 </span>You can then see everyone elses "beanbags" and compare your scores...
						
					.beanbag-user-actions
						.add-beanbag
							a.button.add-bean(href='newbeanbag', title='Spill the beans - add words to the beans to answer the question "Whats important to you?" ') Spill the beans
			section.beanbag-holder
				.beanbag-placeholder