extends layout

block content
	.content.home.page.row
		span.connector 
		.row-inner
			.section.info-panel
				.block.question
					h2.question-title What's important to you right now?
					p.question-description.
						Ever stopped to ask what is really important to you? it could be a value, 
						people or thing that you can't imagine being without or that you think
						you need in your life. Create a beanbag and put your important beans in.
						
					.beanbag-user-actions
						.add-beanbag
							a.button.add-bean(href='beanbaglist', title='View bags created by other people') Open Beanbags
							a.button.add-bean(href='newbeanbag', title='Create a small data set by naming beans in a beanbag') Create Beanbag
			section.beanbag-holder
				.beanbag-placeholder