extends layout

block content
	.content.home.page.row
		span.connector 
		.row-inner
			.section.info-panel
				.block.question
					h2.sub-header What's important to you?
					p.intro Rootbeans would like to invite you to share your answer with us using 10 beans. It's easy:
					ul.question-description
						li <span>1 </span>Add 10 words on 'beans'
						li <span>2 </span>Spill the beans & score
						li <span>3 </span>See everyones results!
						
					.beanbag-user-actions
						.add-beanbag
							a.button.add-bean(href='newbeanbag', title='Spill the beans - add words to the beans to answer the question "Whats important to you?" ') Add your beans
						.view-beanbag
							a.button.view-bean(href='beanbaglist', title='View all beanbags and beans') View all beans
						.download-data
							a(href='/data/beanbag.json', title='Download database as of 5th August 2014 as json file') Download Data (json)
						.download-data
							a(href='/data/beanbank.csv', title='Download database as of 5th August 2014 as csv file') Download Data (csv)
			section.beanbag-holder
				.beanbag-placeholder
					a(href='newbeanbag', title='Spill the beans - add words to the beans to answer the question "Whats important to you?" ') Add your beans