extends layout

block content
    h1.= title
    h2. playful little data
    
    h3. What's important to you?
    p.
       Rootbeans is a simple social game where we ask "what's important to you right now?"
       this could be anything in your life big or small. Values; Things; People which mean 
       a lot to you.
    
    h3. It's really easy to do
    dl.biglist 
       dt step 1.
          dd Create a new Beanbag 
       dt step 2. 
          dd Add 10 beans
       dt step 3.
          dd Watch them grow
    a.button(href='newbeanbag') Step 1 - Create a beanbag
                
                