doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/beanfont.css')
		<meta name="viewport" content="width=device-width, initial-scale=1">
		body
			header.header-site.row
				.row-inner
					section.branding
						h1.site-title 
							a(href='/'): img.logo(src='images/rootbeans-beanbank-logo.png', alt='Rootbeans Beanbank')
			block content
			footer.footer-site.row
				nav.nav-footer
					.row-inner
						a(href='http://www.rootbeans.com', title='Visit Rootbeans website') About the project
						a(href='http://www.github.com/blujay/rootbeans-bank', title='mooch around the code and fork it if you like on Github') Github