extends layout

block contenth2 Question: What's important for you right now?
				p	Ever stopped to ask what is really important to you? it could be a value, people or thing that you can't imagine being without or that you think you need in your life. Create a beanbag and put your important beans in (one word on each)
	.content.newbean.page.row
			.row-inner
				
				form#form-add-beanbag(name="addbeanbag",method="post",action="/addbeanbag")
					
					fieldset.fieldset-add-beans
						legend Name some beans
						p.bean1
							input.bean.input.bean1name(type="text", name="bean1name", id="bean1name")
						p.bean2
							input.bean.input.bean2name(type="text", name="bean2name", id="bean2name")
						p.bean3
							input.bean.input.bean3name(type="text", name="bean3name", id="bean3name")
						p.bean4
							input.bean.input.bean4name(type="text", name="bean4name", id="bean4name")
						p.bean5
							input.bean.input.bean5name(type="text", name="bean5name", id="bean5name")
						p.bean6
							input.bean.input.bean6name(type="text", name="bean6name", id="bean6name")
						p.bean7
							input.bean.input.bean7name(type="text", name="bean7name", id="bean7name")
						p.bean8
							input.bean.input.bean8name(type="text", name="bean8name", id="bean8name")
						p.bean9
							input.bean.input.bean9name(type="text", name="bean9name", id="bean9name")
						p.bean10
							input.bean.input.bean10name(type="text", name="bean10name", id="bean10name")
					fieldset.fieldset-beanbag-info
						legend Name your beanbag
						p.beanbagname
							input.input-beanbag-name(type="text", placeholder="short and sweet", name="beanbagname", id="beanbagname")
						
						button#btnSubmit.button(type="submit") Add your beanbag!
					
				