extends layout

block content
	.content.home.page.row
		.row-inner
			h1= title
			form#form-add-beanbag(name="addbeanbag",method="post",action="/addbeanbag")
			input#input-beanbagname(type="text", placeholder="bean bag name", name="beanbagname")
			button#btn-submit(type="submit") Add Beanbag!