html {
	font-size:62.5%;
	color:#333;
}

body {
	background-color:#4D4D4D;
	font-size:1.5em;
	font-family:"ubuntu", sans-serif;
}

h1 {
    font-size: 3em;
    color: #8E946D;
}

h2 {
	font-size:2em;
}
h3 {
	font-size:1.8em;
}

a, a:link, a:visited, a:active, a:focus {
  color: #217867;
  text-decoration:none;
}

a, a:link, a:visited, a:active, a:focus, a img, a img:focus{
	outline:none;
  	outline-style:none;
  	border:none;
}


dt {
    clear: both;
    float: left;
    margin-bottom: 8px;
    width: 6em;
    font-weight:bold;
}

dd {
	margin-bottom:10px;
}

fieldset {
    border: 4px solid #EEEEEE;
    margin-bottom: 2em;
    padding: 2em;
}
	fieldset > legend {
		font-size:1.5em;
		font-weight:bold;
	}
	
	fieldset > h3 {}

* {
 -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	  -o-box-sizing:border-box;
	     box-sizing:border-box;
	
}

/*****Layout******/

/* 1em = 10px. this should stay a global value */
body {
	margin:0;
	padding:0;
}

.row {
	width:100%;
	padding:0;
	margin:0;
	display:table;
	content:"";
	clear:both;
}
.row-inner {
    margin: 0 auto 2em auto;
    max-width: 120em;
    min-width: 29em;
    padding: 0 3em;
}

.header-site {
	padding:1em 0;
}

.info-panel {
    display: block;
    float: left;
    margin: 2em 0;
    width: 35%;
}

.beanbag-holder {
    display: block;
    float: right;
    margin-bottom: -15%;
    margin-top: -15%;
    position: relative;
    width: 60%;
}

.footer-site {
	padding:1em 0;
}

/*****Header******/

.header-site {
	background-color:#4D4D4D;
}

.header-site > .row-inner {
	margin-bottom:0;
}

.site-title {
	margin:0;
}

.ribbon,
.ribbon > a {
	position:absolute;
	display:block;
	right:0;
	top:0;
	width:130px;
	height:134px;
}
.ribbon a {
	background-image:url(/images/ribbon-fs8.png);
}

/*****Content******/

.row.content {
	background-color:#ffffff;
}
	.row.content > .row-inner {
		min-height:15em;
		display:block;
		position:relative;
	}

span.connector {
    background-image: url("/images/connecting-line-fs8.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: table;
    height: 200%;
    position: absolute;
    right: 0;
    top: 3em;
    width: 100%;
}

.content h2 {
	color:#8E946D;
}

.block h2:first-child {
	margin-top:0;
}

a.button, button.button {
    background:none;
    background-color: #88AA00;
    border: medium none;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    font-size:1.1em;
    cursor:pointer;
    margin-bottom: 0.5em;
    padding: 0.8em 1em;
}

/*****Info panel******/

.block.question {
    padding: 2em;
    margin-right:3em;
}

.block.question {
	background-color: #fafafa;
}


.beanbag-user-actions {
    display:inline;
    position:relative;
    font-size:0.9em;
}

#search-box {
    border: 3px solid #88AA00;
    padding: 0.6em 0.5em;
    width: 100%;
}

.button-search {
    display: block;
    height: 1.05em;
    position: absolute;
    right: 0.5em;
    top: -2px;
    width: 1em;
}


.button-search {
    background: url("/images/search-icon-fs8.png") repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    text-indent: -9999px;
}


.beanbag-user-actions .add-beanbag {
    display: table-cell;
    width: 50%;
    padding-right:1em;
}
	.add-beanbag .button {
		display:block;
		
	}

.beanbag-user-actions .search-beanbag {
	display:table-cell;
	width:50%;
}


/*****Beanbag Placeholder******/
.beanbag-placeholder {
	display:block;
	position: relative;
	width:100%;
	height: 0;
    padding: 100% 0 0 0;
	background-image:url(/images/beanbag-holder-image-fs8.png);
	background-size:100%;
}

/*****Add new beanbag******/

#form-add-beanbag label {
    display: block;
    margin-bottom: 0.25em;
}

/*****View beans******/

.page-title .question {
    color: #555555;
    font-size: 0.8em;
    font-weight: normal;
}

.question > .button {
    font-size: 0.7em;
    margin-left: 1em;
    padding: 0.5em 1em;
    position: relative;
    right: 0;
}

.beanbag-item {
    background-color: #f8f8f8;
    border-radius: 50%;
    display: block;
    float: left;
    margin: 1%;
    padding: 3em;
    text-align: center;
    width: 48%;
}

.beanbag-title {
    color: #777777;
    font-weight: normal;
    margin: 0;
}

.beans-list {
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}

.bean-item {
    display: inline-block;
    height: 4em;
    margin: 0.5em;
    position: relative;
    width: 6em;
    overflow:hidden;
}

.bean-form {
	font-size:6em;
	color:#333333;
	
}

a.bean-link {
    display: block;
    height: 100%;
    width:100%;
    position: relative;
    top: 0;
    color:#333;
    line-height:0.7em;
}

.bean-name {
    color: #FFFFFF;
    font-size: 0.17em;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    font-family:"ubuntu condensed",sans-serif;
    text-transform:capitalize;
}

.bean-link a:hover {
    display: block;
    height: auto;
    position: relative;
    top: 0;
    color:#8E946D;
}

a.bean-link[title="Health"],
a.bean-link[title="Wellbeing"],
a.bean-link[title="Mental Health"] {
   color:#D40000;
}

a.bean-link[title="Family"],
a.bean-link[title="Children"],
a.bean-link[title="Child"],
a.bean-link[title="Daddy"],
a.bean-link[title="Daughter"],
a.bean-link[title="My daughter"],
a.bean-link[title="Grandchildren"],
a.bean-link[title="Grandma"],
a.bean-link[title="Sister"],
a.bean-link[title="Dad"],
a.bean-link[title="Brother"],
a.bean-link[title="Boyfriend"],
a.bean-link[title="Gradpa"],
a.bean-link[title="Mum"],
a.bean-link[title="Wife"],
a.bean-link[title="Son"]{
   color:#97B800;
}

a.bean-link[title="Fun"],
a.bean-link[title="Enjoyment"] {
   color:#EFB61D;
}

a.bean-link[title="Friends"],
a.bean-link[title="Friendship"] {
   color:#217867;
}

a.bean-link[title="Learning"],
a.bean-link[title="Books"],
a.bean-link[title="Education"],
a.bean-link[title="Knowledge"],
a.bean-link[title="School"],
a.bean-link[title="Studying"]    {
   color:#53BF94;
}

a.bean-link[title="Food"],
a.bean-link[title="Health food"] {
   color:#CF5226;
}

a.bean-link[title="Love"] {
   color:red;
}

a.bean-link[title="Music"],
a.bean-link[title="Singing"] {
   color:#4F5C7F;
}

a.bean-link[title="Nature"],
a.bean-link[title="Environment"] {
   color:#64AF57;
}

a.bean-link[title="Home"],
a.bean-link[title="House"] {
   color:#9F597D;
}

a.bean-link[title="Peace"] {
   color:#8F7D7D;
}


a.bean-link[title="Happiness"],
a.bean-link[title="Happy"],
a.bean-link[title="Joy"]{
   color:#FF0064;
}

a.bean-link[title="Sunshine"],
a.bean-link[title="Sun"] {
   color:#D4AA00;
}

a.bean-link[title="Work"],
a.bean-link[title="Career"],
a.bean-link[title="Job"]{
	color:#5F1D45;
}

a.bean-link:hover {
	color:#8E946D;
}

.bean-item[rel="Health"],
.bean-item[rel="Family"],
.bean-item[rel="Freedom"],
.bean-item[rel="Friends"],
.bean-item[rel="Food"],
.bean-item[rel="Health food"]{
	font-size:1.6em;
}

.bean-item[rel="Love"],
.bean-item[rel="Happiness"],
.bean-item[rel="Happy"],
.bean-item[rel="Music"]
{
	font-size:1.4em;
}

.bean-item[rel="Learning"],
.bean-item[rel="Education"],
.bean-item[rel="Knowledge"],
.bean-item[rel="Studying"],
.bean-item[rel="School"],
.bean-item[rel="Books"],
.bean-item[rel="Fun"],
.bean-item[rel="Enjoyment"],
.bean-item[rel="Joy"],
.bean-item[rel="Sunshine"],
.bean-item[rel="Sun"],
.bean-item[rel="Job"],
.bean-item[rel="Career"],
.bean-item[rel="Work"],
.bean-item[rel="Nature"],
.bean-item[rel="Environment"],
.bean-item[rel="Peace"],
.bean-item[rel="Child"],
.bean-item[rel="Children"],
.bean-item[rel="Grandchildren"],
.bean-item[rel="Grandchild"],
.bean-item[rel="Daddy"],
.bean-item[rel="Daughter"],
.bean-item[rel="Mum"],
.bean-item[rel="Sister"],
.bean-item[rel="Dad"],
.bean-item[rel="Boyfriend"],
.bean-item[rel="Brother"],
.bean-item[rel="Son"],
.bean-item[rel="Wife"],
.bean-item[rel="Husband"]{
	font-size:1.2em;
}






/*****Footer******/

.footer-site {
	display:block;
	min-height:15em;
}
.footer-site {
	background-color:#4D4D4D;
}

.nav-footer {
    display: block;
    position: relative;
}

.nav-footer a {
    color: #C6DA6A;
    padding: 0.5em;
}

