html {
	font-size:62.5%;
	color:#333;
}

body {
	background-color:#555;
	font-size:1.3em;
	font-family:"ubuntu", sans-serif;
}

h1 {
    font-size: 3em;
    color: #8E946D;
}

h2 {
	font-size:2em;
	color:#97B800;
}
h3 {
	font-size:1.8em;
}

a, a:link, a:visited, a:active, a:focus {
  color: #217867;
  text-decoration:none;
}

a, a:link, a:visited, a:active, a:focus, a img, a img:focus{
	outline:none;
  	outline-style:none;
  	border:none;
}


dt {
    clear: both;
    float: left;
    margin-bottom: 8px;
    width: 6em;
    font-weight:bold;
}

dd {
	margin-bottom:10px;
}

fieldset {
    border:none;
    margin-bottom: 1em;
    padding:0;
}

fieldset > legend {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em 0;
    padding: 0;
}
	
fieldset > h3 {margin:0;}

* {
 -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	  -o-box-sizing:border-box;
	     box-sizing:border-box;
	
}

/*****Layout******/

/* 1em = 10px. this should stay a global value */
body {
	margin:0;
	padding:0;
}

.row {
	width:100%;
	padding:0;
	margin:0;
	display:table;
	content:"";
	clear:both;
}
.row-inner {
    margin: 0 auto 2em auto;
    max-width: 1024px;
    min-width: 290px;
    padding: 0 2em;
}

.header-site {
	padding:1em 0;
}

.info-panel {
    display: block;
    float: left;
    margin: 0;
    width: 40%;
}

.beanbag-holder {
    display: block;
    float: right;
    margin-bottom: -10%;
    margin-top: -8%;
    position: relative;
    width: 60%;
}

.footer-site {
	padding:1em 0;
}

/*****Header******/

.header-site > .row-inner {
	margin-bottom:0;
}

.site-title {
    display: block;
    margin: 0;
    position: relative;
    z-index: 1;
}

.ribbon,
.ribbon > a {
	position:absolute;
	display:block;
	right:0;
	top:0;
	width:130px;
	height:134px;
}
.ribbon a {
	background-image:url(/images/ribbon-fs8.png);
}

/*****Content******/

.row.content {
	background-color:#fff;
	padding-bottom:1em;
}

.content.newbean.page.row {
    text-align: center;
}
	.row.content > .row-inner {
		min-height:15em;
		display:block;
		position:relative;
		max-width:1024px;
	}

span.connector {
    background-image: url("/images/connecting-line-fs8.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: table;
    height: 200%;
    position: absolute;
    right: 0;
    top: 3em;
    width: 100%;
}

.leadin {
    font-size:1.3em;
    color:#666;
}

.page-title {
    color: #88AA00;
    margin-top: 1em;
    text-align:center;
}

.page-title > span {
    color: #8E946D;
    font-size: 0.8em;
    font-weight: normal!important;
}

.block h2:first-child {
	margin-top:0;
}

a.button, .button {
    background: none repeat scroll 0 0 #88AA00;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 0.5em;
    padding: 0.5em 1em;
}

/*****Info panel******/

.sub-header {
    font-size:3em;
    margin-bottom:0.4em;
    margin-top:0.4em;
    color:#88AA00;
}

.block.question {
    padding: 2em 2em 2em 0;
    margin-right:3em;
}

.intro {
    font-size:1.2em;
    color:#888888;
}

.question-description {
    list-style: none outside none;
    padding: 0;
    margin-bottom:2em;
}

.question-description li {
    color: #555555;
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 0.8em;
    padding-left: 3em;
    position: relative;
}

.question-description li span {
    color: #888888;
    font-size: 1.5em;
    font-weight: bold;
    left: 0;
    position: absolute;
    top: -0.18em;
}

.beanbag-user-actions {
    display: inline;
    font-size: 0.8em;
    position: relative;
}

#search-box {
    border: 3px solid #88AA00;
    padding: 0.6em 0.5em;
    width: 100%;
}

.button-search {
    display: block;
    height: 1.05em;
    position: absolute;
    right: 0.5em;
    top: -2px;
    width: 1em;
}


.button-search {
    background: url("/images/search-icon-fs8.png") repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    text-indent: -9999px;
}


.beanbag-user-actions .button {
    display: block;
    padding-right:1em;
    width:100%;
}

.add-beanbag .button {
	background-color:#D45500;
}

.add-beanbag, .view-beanbag {
    display: block;
    float: left;
    width: 50%;
}

.add-beanbag {
	padding-right:2px;
}

.view-beanbag {
	padding-left:2px;
}

.button {
	display:block;
	
}

.button:hover {
    background-color:#888888;
}


.beanbag-user-actions .search-beanbag {
	display:table-cell;
	width:50%;
}


.download-data {
    float: left;
    font-size: 0.6em;
    padding: 0.2em;
    width: 50%;
}

.download-data > .button:after {
    border: medium none;
    content: "";
}

.button.download-data {
    padding-right: 0;
    background-color:#D45500;
}


/*****Beanbag Placeholder******/

.beanbag-placeholder {
	display:block;
	position: relative;
	width:100%;
	height: 0;
    padding: 100% 0 0 0;
	background-image:url(/images/beanbag-holder-image.png);
	background-size:100%;
}

.beanbag-placeholder > a {
    display: block;
    height: 0;
    left: 0;
    padding: 100% 0;
    position: absolute;
    text-indent: -99999px;
    top: 0;
    width: 100%;
}

/*****Add new beanbag******/

#form-add-beanbag label {
    display: block;
    margin-bottom: 0.25em;
}

.fieldset-add-beans {
	text-align:center;
}

.enter-bean {
    display: inline-block;
    font-size: 10em;
    height: 1em;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 1em;
    margin:0.05em;
}

.enter-bean .icon-bean1 {
    position: relative;
    top: -0.18em;
    color:#97B800;
}


.enter-bean .bean.input {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    border: medium none;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    color: #FFFFFF;
    display: block;
    font-size: 0.12em;
    left: 10%;
    padding: 0.2em;
    position: absolute;
    text-align: center;
    top: 4em;
    width: 80%;
}

.beanbagname {
    display: block;
    font-size: 1.2em;
    margin:0;
}

.input-beanbag-name {
    border: 3px solid #BBBBBB;
    font-size: 0.5em;
    margin: 1em;
    padding: 0.25em 0.5em;
    width: 50%;
}

#form-add-beanbag #btnSubmit {
	font-size:1.5em;
	display:inline;
}

/*****View beans******/

.beanbaglist.content {
	background-color:#f2f2f2;
}

.beanbaglist .intro {text-align:center;line-height:1.3em;}
.beanbaglist .intro a {clear:both; text-align:center;display:block;}

.page-title .question {
    color: #555555;
    font-size: 0.8em;
    font-weight: normal;
}

.question > .button {
    font-size: 0.7em;
    margin-left: 1em;
    padding: 0.5em 1em;
    position: relative;
    right: 0;
}

.button:hover {
	background-color:#217867;
}


.beanbag-item {
    background-color: #FFFFFF;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    display: block;
    float: left;
    margin: 1%;
    padding: 5em 6em 4em;
    text-align: center;
    width: 100%;
}

.beanbag-title {
    color: #333;
    font-weight: normal;
    margin: 0;
}

.bag-score,
.bag-score p {
	margin:0 0.25em;
	color:#8E946D;
}


.bag-score span {
    clear: both;
    color: #8E946D;
    display: block;
    font-size: 4em;
    margin-top: 0.2em;
}

.tweet {
    position:relative;
    display:inline-block;
    text-align:center;
}

.tweet > img {
    clear: both;
    display: block;
    left: -3em;
    position: absolute;
    top: -0.2em;
}

.beans-list {
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
	margin-bottom:3em;
}

.bean-item {
    display:inline-block;
    margin: 0 0.25em;
    overflow: hidden;
    position: relative;
    list-style:none;
    padding:none;
    height:4em;
    width:6em;
    
}

.bean-form {
	font-size:6em;
	color:#333333;
	
}

a.bean-link {
    color: #333;
    display: block;
    height: 100%;
    margin-top: 0;
    position: absolute;
    top: -1px;
    width: 100%;
}


.icon-bean1:before {
    bottom: 0;
    left: 0;
    position: absolute;
    width:100%;
}


.enter-bean > .icon-bean1:before {
    position: relative;
}

.bean-link a:hover {
    display: block;
    height: auto;
    position: relative;
    top: 0;
    color:#8E946D;
}

.bean-name {
    color: #ffffff;
    font-family: "ubuntu condensed",sans-serif;
    font-size: 0.17em;
    height: 1.2em;
    left: 0;
    line-height:1.1em;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 1.2em;
    width: 100%;
}

.bean-list .bean-name{
	top:1.8em;
}

a.bean-link[title="Health"],
a.bean-link[title="Death"],
a.bean-link[title="Life"]{
   color:#D40000;
}

a.bean-link[title="Family"],
a.bean-link[title="Children"],
a.bean-link[title="Daddy"],
a.bean-link[title="Daughter"],
a.bean-link[title="My daughter"],
a.bean-link[title="Grandchildren"],
a.bean-link[title="Sister"],
a.bean-link[title="Dad"],
a.bean-link[title="Brother"],
a.bean-link[title="Mum"],
a.bean-link[title="Wife"],
a.bean-link[title="Mum and dad"],
a.bean-link[title="Son"]{
   color:#97B800;
}

a.bean-link[title="Fun"],
a.bean-link[title="Laughing"],
a.bean-link[title="Laughter"],
a.bean-link[title="God"] {
   color:#EFB61D;
}

a.bean-link[title="Freedom"],
a.bean-link[title="Time"],
a.bean-link[title="Future"],
a.bean-link[title="Control"],
a.bean-link[title="Balance"]
{
	color:#00CFB7;
}

a.bean-link[title="Friends"],
a.bean-link[title="Friendship"],
a.bean-link[title="People"] {
   color:#217867;
}

a.bean-link[title="Learning"],
a.bean-link[title="Books"],
a.bean-link[title="Education"],
a.bean-link[title="Studying"],
a.bean-link[title="Science"],
a.bean-link[title="Knowledge"],
a.bean-link[title="Technology"]{
   color:#53BF94;
}

a.bean-link[title="Food"],
a.bean-link[title="Health food"],
a.bean-link[title="Wine"],
a.bean-link[title="Sleep"],
a.bean-link[title="Walking"] {
   color:#FF7A0F;
}

a.bean-link[title="Love"],
a.bean-link[title="Sex"]{
   color:red;
}

a.bean-link[title="Music"],
a.bean-link[title="Dancing"],
a.bean-link[title="Creativity"],
a.bean-link[title="Stories"],
a.bean-link[title="Art"]{
   color:#4F5C7F;
}

a.bean-link[title="Nature"],
a.bean-link[title="Travel"]{
   color:#64AF57;
}

a.bean-link[title="Home"],
a.bean-link[title="Money"] {
   color:#9F597D;
}

a.bean-link[title="Peace"],
a.bean-link[title="Equality"],
a.bean-link[title="Security"],
a.bean-link[title="Safety"],
a.bean-link[title="Honesty"] {
   color:#8F7D7D;
}


a.bean-link[title="Happiness"],
a.bean-link[title="Happy"],
a.bean-link[title="Hope"],
a.bean-link[title="Empathy"]{
   color:#FF0064;
}

a.bean-link[title="Sunshine"],
a.bean-link[title="Sun"] {
   color:#D4AA00;
}

a.bean-link[title="Work"],
a.bean-link[title="Career"],
a.bean-link[title="Job"],
a.bean-link[title="Purpose"]{
	color:#5F1D45;
}


a.bean-link:hover {
	color:#8E946D;
}

.icon-bean-radicle {
    bottom: 0;
    color: rgba(0, 0, 0, 0.4);
    display: block;
    font-size: 1em;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 5;
}

.icon-bean-radicle:before {
    bottom: 0;
    content: "î˜";
    left: 0;
    position: absolute;
    width:100%;
}

.bean-count {
    bottom: 0.6em;
    color: #ffffff;
    display: block;
    font-family: "ubuntu",sans-serif;
    font-size: 0.1em;
    font-weight: bold;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

a.bean-link[rel="1"] .bean-count,
a.bean-link[rel="2"] .bean-count,
a.bean-link[rel="3"] .bean-count {
		bottom:0.5em;
		font-size:0.06em;
	}



/*****Footer******/

.footer-site {
	display:block;
	min-height:15em;
}

.nav-footer {
    display: block;
    position: relative;
}

.nav-footer a {
    color: #C6DA6A;
    padding: 0.5em;
}

@media screen and (max-width: 1280px) {
    
    span.connector{
        top:10em;
    }
    
    .block.question {
        padding-right:0;
        font-size:0.9em;
    }
}

@media screen and (max-width: 960px) {
    
}

@media screen and (max-width: 780px) {
    .row-inner {
        padding: 0 0.5em 0 2em;
    }
    .block.question {
        font-size: 0.9em;
        margin-right: 0;
        padding: 2em 2em 2em 0;
    }
    span.connector{
        top:14em;
    }
    
    .beanbag-user-actions {
	    margin-left: 3.5em;
	}
	
	.beanbaglist .row-inner {
		padding:1em 0.25em;
	}
	
	.beanbag-item {
	    font-size: 0.8em;
	    padding: 5em 4em 6.5em;
	    width: 100%;
	}
	
	.tweet {
	    font-size: 1.5em;
	}
		.tweet > img {
			margin-left:1em;
	}
}

@media screen and (max-width: 640px) {
    
    .info-panel,
    .beanbag-holder,
    .beanbag-placeholder{
        width:100%;
    }
    
    .header-site {
    	text-align:center;
    }
    
    .site-title img {width:100%;max-width:347px;}
        
    .row-inner {
        padding: 0 1em;
    }
    
    .beanbag-holder {
        left: 0;
        position: absolute;
        top: 14em;
    }
    
    span.connector{
        top:25em;
    }
    
    .beanbag-placeholder {
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 80% auto;
    }
    
    .leadin{
        text-align:center;
        display:block;

    }
    
    .block.question {
        font-size: 0.9em;
        margin-right: 0;
        padding: 4em 2em 2em;
    }
    
    .sub-header {
        padding-bottom:95%;
        font-size:4em;
        text-align:center;
    }
    
    .question-description,
    .intro{
        padding:0 2em;
    }
    
    .beanbag-user-actions {margin-left:3.5em;}
    .beanbag-item {font-size: 0.65em;padding: 5em 3em 6em;}
	.beanbag-title{font-size:2.5em;}
	.tweet {font-size: 1.5em;top: -1.5em;}
	.tweet > img {bottom: -6.5em;}
	.bag-score, .bag-score p {font-size: 1.1em;}

	a.bean-link[rel="1"] .bean-count,
	a.bean-link[rel="2"] .bean-count,
	a.bean-link[rel="3"] .bean-count {
		bottom:0.1em;
		font-size:0.06em;
	}
}


@media screen and (max-width: 550px) {
    .sub-header {font-size:3em;padding-bottom:120%;}
    
    .block.question {padding: 2em 2em 2em;}
    .intro, .question-description {padding:0;}
}

@media screen and (max-width: 350px) {
	.row-inner {padding:0;}
	.row-inner > p {padding:0 1em;}
    .leadin {text-align:center;display:block;};
    .block.content {padding-top:1em;}
    .sub-header {font-size:3em;padding-bottom:110%;}
    .beanbag-holder{top:12em;}
    .beanbag-placeholder{background-size:100%;background-position:0.25em center;}
    .intro, .question-description {padding:0 1em;}
    .block.question {padding: 1em 0.25em;}
    h2,h3,legend {text-align:center;}
    .enter-bean {font-size: 16em;}
    .beanbaglist .row-inner {padding: 0em;}
    .bean-item {font-size:0.1em;}
}



